@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.Contact-form{
    text-align: center;
    padding-bottom: 5%;
    
  background-color:#112240;
  
  }

.contact-form-header{
    font-size: 2.5rem;
    padding: 1%;
    font-family: 'Raleway', sans-serif;
   }

.contact_input{
   padding-left: 10%;
   padding-right: 10%;
  }

.contact_input_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-radius: 15%;
    text-align: center;
    background: transparent;
    color: cyan;
    min-height: 6.5vh;
  }
   
.contact_success_modal_body{
    text-align: center;
    background:#090909;
    color: cyan;
   }
   
.contact_success_modal_img{
     height: 15vh;
     padding-bottom: 3%;
   }
.contact-email-text-btn {
  color: cyan;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  display: inline-block;
  padding: .5em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2em;
  margin-top: 20px;
  transition: 0.5s ease;
  border:2px solid;
} 
.contact-email-text-btn:hover{
      background: #666666;
      color: aliceblue;
  }
 