.Loading-header {
  /* background-color: #000000; */
    background-color: white;
  /* background-image: url('../../assets/img/logoljm.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: cyan;
  text-align: center;
  align-items: center;
  justify-content: center;
}